<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956678570357-ibnlqli0kk2k8b7fd3o1vsn8knkfmd16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956678570357-ibnlqli0kk2k8b7fd3o1vsn8knkfmd16</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956678570357-ppj9b5sieapuvuvp8c490h6flkhd4r72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwbZwZEbzWBd0qQDWqlVuQQzVJO4GVKZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>956678570357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boot.vehicle</string>
	<key>PROJECT_ID</key>
	<string>vehicle-b83e7</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-b83e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:956678570357:ios:971c0258d6b3629c</string>
	<key>DATABASE_URL</key>
	<string>https://vehicle-b83e7.firebaseio.com</string>
</dict>
</plist>
